@model moviesAPI.Models.EntityModels.Movie

@{
    ViewData["Title"] = "Details";
}

<div class="form-container">
    <h1>Деталі</h1>
    <h4>Жанр</h4>
    <hr />
    <table class="table" style="max-width: 800px;">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Id)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Plot)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Plot)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Director)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Director)
                </td>
            <tr>
                <td>
                        @Html.DisplayNameFor(model => model.Director)
                </td>
                <td>
                        @Html.DisplayFor(model => model.Director)
                </td>
            </tr>
            <tr>
                <td>
                        @Html.DisplayNameFor(model => model.Director)
                </td>
                <td>
                        @Html.DisplayFor(model => model.Director)
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary submit-btn">Редагувати</a>
        <a asp-action="Index" class="btn btn-danger">Видалити</a>
        <a asp-action="Index" class="btn btn-outline-light">Назад</a>
    </div>
</div>