@model IEnumerable<moviesAPI.Models.EntityModels.Genre>

@{
    ViewData["Title"] = "Index";
    var sortedModel = Model.OrderBy(item => item.Id).ToList();
}

<h2>Перелік жанрів:</h2>

<hr />
Search/filters here
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in sortedModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="text-align:right;">
                <a id="detailsButton" asp-action="Details" asp-route-id="@item.Id" class="icon-button">
                    <i class="material-icons">info</i>
                </a>
                <a id="editButton" asp-action="Edit" asp-route-id="@item.Id" class="icon-button">
                    <i class="material-icons">edit</i>
                </a>
                <a id="deleteButton" asp-action="Delete" asp-route-id="@item.Id" class="icon-button">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

